<main id="about">
  <article>
    <h3>Hello!</h3>
    <p>Huggers is a new relationship and dating application for people 
      who are looking less for quick hookups and more for something with 
      substance.</p>
    <p>Huggers is for people who are in relationships already, or for 
      anyone looking for love. As in, more than one night of love.</p>
  </article>
  <article>
    <h3>What next?</h3>
    <p>Just sign up and you can add friends, meet people, play games 
      with your partner or strangers and much more. Create a profile for 
      free and start hugging.</p>
  </article>
</main>