<!-- FOR HEADER -->

<!-- <h1 style="font-family: 'Lobster';">Huggers</h1> NOPE-->
<!-- <h1 style="font-family: 'Tangerine';">Huggers</h1> NOPE-->
<!-- <h1 style="font-family: 'Great Vibes';">Huggers</h1> NOPE -->
<!-- <h1 style="font-family: 'Pacifico';">Huggers</h1> NOPE-->
<h1 style="font-family: 'Pinyon Script';">Huggers</h1>
<h1 style="font-family: 'Dancing Script';">Huggers</h1>
<h1 style="font-family: 'Lobster Two';">Huggers</h1>
<h1 style="font-family: 'Playball';">Huggers</h1>
<h1 style="font-family: 'Kaushan Script';">Huggers</h1>
<h1 style="font-family: 'Cookie';">Huggers</h1>

