<main id="splash">
  <div class="splash-wrapper">  
    <h1>Welcome to Huggers</h1>
    <h3>Be close to people.</h3>
    <a href="/users/new">Join</a>
    <a href="/session/new">Login</a>
  </div>
</main>
