<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Huggers</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css' type='text/css'>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
  <header>
    <img id="menu" src="" alt="Menu">
    <a href="/"><h1>Huggers</h1></a>
    <img id="logo" src="" alt="Huggers hearts">
    <a href="/session/logout">templogout</a>
  </header>
  <div class="header-separator"></div>
  
  <%= yield %>

</body>