<main id="list">
</main>

<script>

  $.ajax({

    url: '/api/users',
    method: 'get',
    dataType: 'json'

  }).done(function(users){

    for (var i=0; i<users.length; i++) {

      if (!includeUser(<%=@criteria.to_json%>, users[i])) {
        continue;
      }

      $('main').append('<hr>');

      var $section = $('<section>');
      var $div = $('<div>');
      
      $section.append($div);
      renderProfilePic(users[i].profile_photo_id,$div);
      
      var $article = $('<article>');
      var firstName = users[i]['first_name'];
      var age = SQLDobToAge(users[i]['dob']);
      $article.append($('<h3>').html(firstName + ', ' + age));

      var lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eveniet sit mollitia repellendus.";
      $article.append($('<p>').html(lorem)); // change to description
      
      $section.append($article);
      $a = $('<a>').attr('href',"/users/"+users[i]['id']).append($section);
      $('main').append($a);

    }

  });

</script>