<% if @retained_content.empty? %>
  <% ['email'].each do |attribute| %>
    <% @retained_content[attribute] = "" %>
  <% end %>  
<% end %>

<main id="login">
  <form action="/session" method="post">
    <p>
      <input type="text" name="email" placeholder="email address" value="<%= @retained_content["email"] %>">
      <input type="password" placeholder="password" name="password">
    </p>
    <button>Login</button>
  </form>
</main>