<main id="search">
  <h3>Search for your Hugmate!</h3>
  <form action="/users/<%= @user.id %>/list">
    <p>
      <input type="hidden" name="search" value="true">
      <input type="text" placeholder="gender" name="gender">
      <input type="text" placeholder="minimum age" name="min_age">
      <input type="text" placeholder="maximum age" name="max_age">
      <input type="text" placeholder="location" name="location" value="<%= @user.location %>">
    </p>
    <button>Search</button>
  </form>
</main>