* {
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

/*HEADER*/
header {
  position: fixed;
  height: 15%;
  width: 100%;
  background: rgb(255,132,188);
  border-bottom: 5px solid rgb(215,92,148);
}

header div.header-wrapper {
  height: 80%;
  width: 95%;
  margin: 2% auto;
}

header div.header-wrapper * {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

header h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  color: rgb(144,96,245);
  text-decoration: underline;
}

header img#menu-toggle {
  max-height: 100%;
  cursor: pointer;
  margin: 0%;
  margin-right: 5%;
}

header a {
  height: 100%;
}

header a img#hearts {
  max-height: 100%;
  margin: 0%;
  margin-left: 5%;
}

div.header-separator {
  min-height: 15.5%;
  width: 100%;
}

/*MENU*/
nav#menu {
  display: none;
  position: fixed;
  top: 15%;
  left: 0;
  height: 85%;
  width: 80%;
}

nav#menu ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav#menu li {
  display: block;
  list-style: none;
  border: 2px solid rgb(37,112,170);
  border-bottom: none;
  background: rgb(67,142,200);
  height: 13%;
  width: 90%;
  padding-left: 10%;
}

nav#menu li a {
  font-family: 'Lobster Two', cursive;
  color: rgb(0,75,133);
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 2em;
  line-height: 2em;
}

nav#menu li a#copyright {
  font-size: .8em;
}

nav#menu li img {
  max-height: 45%;
}

/*SPLASH*/
main#splash {
  min-height: 85%;
  background: rgb(255,225,255);
  text-align: center;
}

main#splash h1 {
  margin: 0;
  padding-top: 35%;
}

main#splash h3 {
  margin: 3%;
  padding-bottom: 10%;
}

main#splash a {
  margin: 1em;
  padding: .5em;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  border: 3px solid rgb(144,96,245);
  color: rgb(144,96,245);
}

/*ABOUT*/
main#about {
  min-height: 85%;
  background: rgb(255,225,255);
}

main#about article {
  margin: 0;
  padding: 1em;
  padding-bottom: 0;
}

/*LOGIN*/
main#login {
  min-height: 85%;
  background: rgb(255,225,255);
  text-align: center;
}

main#login p {
  margin: 0;
  padding-top: 20% ;
  font-size: 1.5em;
}

main#login input {
  margin: .25em 0;
  padding: .25em;
}

main#login button {
  background: none;
  margin: 1em;
  padding: .5em;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  border: 3px solid rgb(144,96,245);
  color: rgb(144,96,245);
  text-decoration: underline;
}

/*JOIN*/
main#join {
  min-height: 85%;
  background: rgb(255,225,255);
  text-align: center;
}

main#join p {
  margin: 0;
  padding-top: 1em;
  font-size: 1.5em;
}

main#join input {
  margin: .25em 0;
  padding: .25em;
}

main#join button {
  background: none;
  margin: 1em;
  padding: .5em;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  border: 3px solid rgb(144,96,245);
  color: rgb(144,96,245);
  text-decoration: underline;
}

/*LIST*/
main#list {
  min-height: 85%;
}

main#list hr {
  margin: 0;
}

main#list a {
  text-decoration: none;
  color: black;
}

main#list a section {
  height: 30%;
  background: rgb(255,225,255);
}

main#list a section div {
  height: 100%;
  display: inline-block;
  width: 35%;
  margin-right: 3%;
  text-align: center;
}

main#list a section div img {
  max-height: 100%;
  max-width: 100%;
}

main#list a section article {
  vertical-align: top;
  height: 100%;
  width: 60%;
  display: inline-block;
}

main#list a section article h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  margin: 0;
}

/*PUBLIC PROFILE*/
main#public-profile {
  min-height: 85%;
  background: rgb(255,225,255);
}

main#public-profile section#top {
  width: 100%;
  height: 50%;
}

main#public-profile section#top div#pictures {
  width: 49%;
  height: 100%;
  display: inline-block;
}

main#public-profile section#top div#pictures img {
  max-width: 100%;
  max-height: 100%;
}

main#public-profile section#top article#bio {
  width: 47%;
  padding-left: 2%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
